html, body {
  height: 100%;
  width: 100%;
  background-color: #152238;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.room {
    width: 100%;
    height: 100vh;
    background-color: #000;
    display: grid;
    place-items: center;
    perspective: 100rem;
    overflow: hidden;
  }
  
  .table {
    width: 60rem;
    height: 60rem;
    background-color: green;
    border-radius: 50%;
    border-bottom: 2rem solid forestgreen;
    transform: rotateX(80deg) translateZ(10rem);
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 2s 1s;
  }
  
  .table.change {
    transform: rotateX(80deg) translateY(30rem) translateZ(10rem);
    transition: transform 2s;
  }
  
  .letter {
    width: 15rem;
    height: 25rem;
    background-color: #fff;
    padding: 2rem 1rem 2rem 1rem;
    color: #555;
    box-shadow: 0 0 0.1rem #aaa;
    font-family: "Dancing Script", cursive;
    font-size: 1.5rem;
    text-indent: 0.5rem;
    transform-origin: bottom;
    transition: transform 1s;
  }
  
  .table-leg {
    width: 3rem;
    height: 35rem;
    background-color: rgba(0,0,0);
    position: absolute;
    top: 30rem;
    left: 28.5rem;
  }
  
  .table-leg-1 {
    transform: rotateX(-60deg) rotateZ(40deg);
    transform-origin: top;
    border-radius: 5rem 1rem;
    border-right: 0.3rem solid rgba(0,0,0);
    border-bottom: 0.3rem solid rgba(0,0,0);
  }
  
  .table-leg-2 {
    transform: rotateX(-60deg) rotateZ(-40deg);
    transform-origin: top;
    border-radius: 1rem 5rem;
    border-left: 0.3rem solid rgba(0,0,0);
    border-bottom: 0.3rem solid rgba(0,0,0);
  }
  
  .table-leg-3 {
    transform: rotateX(-140deg);
    transform-origin: top;
    border-radius: 1rem;
    border-left: 0.3rem solid rgba(0,0,0);
    border-right: 0.3rem solid rgba(0,0,0);
  }
  
  .floor {
    width: 160rem;
    height: 160rem;
    background-image: repeating-conic-gradient(
      from 90deg,
      #000 0deg 90deg,
      #333 90deg 180deg
    );
    background-size: 10rem 10rem;
    border-radius: 50%;
    position: absolute;
    transform: translateZ(-23rem);
    box-shadow: inset -5rem -5rem 10rem #000, inset 5rem 5rem 10rem #000;
  }